{# Inline preview of audit changes for table display #}
{# Usage: include '@KachnitelAuditor/Admin/Audit/_changes-preview.html.twig' with {entry: entry, item: item, dataSource: dataSource} #}

{% set diffs = item.getDiffs() %}
{% set diffsWithMeta = item.getDiffs(true) %}
{% set entryId = item.getId() %}
{% set requestId = diffsWithMeta['@context']['request_id']|default(null) %}
{% set hasTimelineSupport = dataSource is defined and dataSource.hasTimelineSupport() %}

{% if diffs is empty %}
    <span class="text-muted">No changes</span>
{% else %}
    {% set diffType = diff_type(diffs) %}

    {# Inline preview #}
    <ul class="list-unstyled d-inline-block mb-0">
        {% if diffType == 'entity_summary' %}
            {% include '@KachnitelAuditor/Admin/Audit/_diff-inline-entity-summary.html.twig' %}
        {% elseif diffType == 'association_link' %}
            {% include '@KachnitelAuditor/Admin/Audit/_diff-inline-association-link.html.twig' %}
        {% else %}
            {% include '@KachnitelAuditor/Admin/Audit/_diff-inline-field-changes.html.twig' %}
        {% endif %}
    </ul>

    {# Show data button and modal #}
    <button type="button" class="btn btn-light btn-sm float-end" data-bs-toggle="modal" data-bs-target="#auditModal{{ entryId }}">
        Show data
    </button>

    <div class="modal fade" id="auditModal{{ entryId }}" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Audit data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if diffType == 'entity_summary' %}
                        {% include '@KachnitelAuditor/Admin/Audit/_diff-modal-entity-summary.html.twig' %}
                    {% elseif diffType == 'association_link' %}
                        {% include '@KachnitelAuditor/Admin/Audit/_diff-modal-association-link.html.twig' %}
                    {% else %}
                        {% include '@KachnitelAuditor/Admin/Audit/_diff-modal-field-changes.html.twig' %}
                    {% endif %}
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <div>
                        {% if hasTimelineSupport %}
                            {% if requestId %}
                                <a href="?columnFilters[request_id]={{ requestId|url_encode }}" class="btn btn-outline-info btn-sm" title="Show all changes from the same HTTP request">
                                    <span class="material-icons align-middle" style="font-size: 1rem;">link</span>
                                    View Related ({{ requestId[:8] }}...)
                                </a>
                            {% endif %}
                            {% if item.getUsername() and item.getUserId() %}
                                <a href="?columnFilters[blame_user]={{ item.getUserId()|url_encode }}" class="btn btn-outline-primary btn-sm ms-1" title="Show other changes by this user">
                                    <span class="material-icons align-middle" style="font-size: 1rem;">timeline</span>
                                    User Timeline
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
